body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    background-color: #f8f2ff; 
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #220233;
    padding: 10px 20px;
    border-bottom: 3px solid #db83f4; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.navbar img {
    height: 100px;
    margin-right: 20px; 
}

.search-bar {
    width: 80%; 
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #db83f4;
    background-color: #fff;
}

.menu {
    display: flex;
    padding-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #220233;
    background-color: #db83f4; 
    padding: 8px 15px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #db83f4;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px); 
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    border: 2px solid #db83f4; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    width: 320px;
    text-align: center;
}

.login-box input {
    width: 77%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #db83f4;
    border-radius: 10px;
}

.login-box a {
    display: block;
    margin: 3px 0;
    text-decoration: none;
    color: #220233;
}

.login-box button {
    padding: 10px;
    width: 100%;
    background-color: #220233;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #220233;
}
